*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-shadow: border-box; }

a:hover {
  color: #777 !important; }

body {
  width: 100vw; }
  @media (min-width: 36rem) {
    body {
      background: red; } }
  @media (min-width: 48rem) {
    body {
      background: green; } }
  @media (min-width: 62rem) {
    body {
      background: yellow; } }
  @media (min-width: 75rem) {
    body {
      background: blue; } }

@keyframes moveInRight {
  80% {
    transform: translateX(-0.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  80% {
    transform: translateX(0.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveButtonUp {
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: "Lato", sans-serif !important;
  font-weight: 400;
  line-height: 1.7;
  color: #777 !important; }
  @media (min-width: 36rem) {
    body {
      font-size: 1rem; } }

.header__title {
  font-weight: 400;
  letter-spacing: 1rem;
  animation-name: moveInLeft;
  animation-duration: 1500ms;
  animation-timing-function: ease-out;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(-8rem);
  color: #ffffec;
  font-size: 1.5rem; }
  @media (min-width: 36rem) {
    .header__title {
      font-size: 2.5rem; } }

.header__title__span {
  opacity: 0.7; }

.header__title--sub {
  font-weight: 700;
  letter-spacing: 0.5rem;
  animation-name: moveInRight;
  animation-duration: 1500ms;
  animation-timing-function: ease-out;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(8rem);
  color: #ffffec;
  font-size: 1rem;
  font-weight: 300; }
  @media (min-width: 36rem) {
    .header__title--sub {
      font-size: inherit; } }

.heading-secondary {
  background-image: linear-gradient(to right, #36a3a5, #113738);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 2000ms;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  text-align: center; }
  @media (min-width: 48rem) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-secondary:hover {
  background-size: 150%;
  cursor: context-menu; }

#heading-secondary--form {
  margin-bottom: 0; }

.heading-tertiary {
  font-weight: 700;
  font-size: 1rem; }
  @media (min-width: 48rem) {
    .heading-tertiary {
      font-size: 1.3rem; } }

.feature-box__text {
  font-size: 1.1rem; }

.section-about {
  background-color: #f7f7f7;
  margin-top: -5rem;
  padding: 8rem 0; }
  @media (min-width: 36rem) {
    .section-about {
      padding: 20rem 0;
      margin-top: -12rem; } }

.section-about__content {
  width: 100%;
  max-width: 32rem;
  margin-bottom: 10rem; }
  @media (min-width: 36rem) {
    .section-about__content {
      margin-bottom: 0;
      max-width: 34rem; } }
  @media (min-width: 48rem) {
    .section-about__content {
      max-width: 46rem; } }
  @media (min-width: 62rem) {
    .section-about__content {
      max-width: 60rem; } }
  @media (min-width: 75rem) {
    .section-about__content {
      max-width: 73rem; } }

.section-features {
  padding: 10rem 0;
  margin-top: -12rem;
  background-image: linear-gradient(to right bottom, rgba(54, 163, 165, 0.6), rgba(17, 55, 56, 0.6)), url(../images/parachute-2.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-15deg); }
  @media (min-width: 62rem) {
    .section-features {
      transform: skewY(-4deg); } }
  @media (min-width: 75rem) {
    .section-features {
      padding: 20rem 0; } }

.section-features__container {
  max-width: 1300px;
  width: 80%;
  transform: skewY(15deg); }
  @media (min-width: 62rem) {
    .section-features__container {
      transform: skewY(4deg);
      width: 100%; } }

.section-tours {
  background-color: #f7f7f7;
  margin-top: -12rem;
  padding: 20rem 0 10rem 0; }
  @media (min-width: 75rem) {
    .section-tours {
      padding: 20rem 0; } }

.section-tours__cards-container {
  max-width: 1300px;
  width: 90%;
  margin-bottom: 5rem; }
  @media (min-width: 48rem) {
    .section-tours__cards-container {
      width: 80%;
      margin-bottom: 10rem; } }
  @media (min-width: 62rem) {
    .section-tours__cards-container {
      width: 100%; } }

.section-stories {
  padding: 10rem 0;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(54, 163, 165, 0.9), rgba(255, 255, 255, 0.9)), url(../images/nat-1.jpg);
  background-size: cover;
  background-position: left; }

.section-book {
  padding: 10rem;
  background-image: linear-gradient(to right bottom, #36a3a5, #113738); }

.book {
  background-size: cover;
  height: 30rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  position: relative;
  background-image: url(../images/trees.jpg); }
  .book__form {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 236, 0.7); }
    @media (min-width: 36rem) {
      .book__form {
        background-color: transparent;
        background-image: linear-gradient(105deg, rgba(255, 255, 236, 0.7) 0%, rgba(255, 255, 236, 0.7) 75%, transparent 75%); } }
    @media (min-width: 62rem) {
      .book__form {
        background-color: transparent;
        background-image: linear-gradient(105deg, rgba(255, 255, 236, 0.7) 0%, rgba(255, 255, 236, 0.7) 50%, transparent 50%); } }
  @media (min-width: 36rem) {
    .book {
      padding: 3rem; } }

.btn--shadow {
  transition: all 200ms;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn--shadow:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--bottom-border:link, .btn--bottom-border:visited {
  border-bottom: solid 2px #216869;
  border-radius: 0;
  color: #216869;
  transition: all 300ms;
  padding: 5px;
  font-size: 1.1rem; }

.btn--bottom-border:hover {
  color: #fff !important;
  background: #216869;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn--bottom-border:active {
  transform: translateY(0px); }

.btn--round-animate {
  border-radius: 5rem !important;
  font-size: 1rem;
  position: relative;
  animation-name: moveButtonUp;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(3rem); }
  .btn--round-animate::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 400ms; }
  .btn--round-animate:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn--round-animate--white {
  color: #777; }
  .btn--round-animate--white::after {
    color: #fff;
    background-color: #fff; }

.btn--round-animate--green {
  color: #fff;
  background-color: #216869; }
  .btn--round-animate--green:hover {
    color: #fff !important; }
  .btn--round-animate--green::after {
    color: #fff;
    background-color: #216869; }

.btn--inline {
  display: inline-block; }

.composition {
  width: 100%;
  position: relative;
  min-height: 10rem;
  margin-top: 3rem; }
  @media (min-width: 36rem) {
    .composition {
      min-height: 20rem; } }
  @media (min-width: 48rem) {
    .composition {
      min-height: 23rem;
      margin-top: 0; } }

.composition__image {
  width: 40%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 500ms; }
  .composition__image:hover {
    z-index: 5;
    transform: scale(1.1);
    filter: saturate(1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6); }
  @media (min-width: 48rem) {
    .composition__image {
      width: 70%; } }

.composition__image--p1 {
  top: 0;
  left: 0; }
  @media (min-width: 48rem) {
    .composition__image--p1 {
      top: 0;
      left: 0; } }
  @media (min-width: 75rem) {
    .composition__image--p1 {
      top: -5%;
      left: 0px; } }

.composition__image--p2 {
  right: 0;
  top: -5%; }
  @media (min-width: 48rem) {
    .composition__image--p2 {
      right: 0;
      top: 25%; } }
  @media (min-width: 48rem) {
    .composition__image--p2 {
      right: 10%; } }
  @media (min-width: 75rem) {
    .composition__image--p2 {
      right: 0;
      top: 15%; } }

.composition__image--p3 {
  top: 10%;
  left: 30%; }
  @media (min-width: 48rem) {
    .composition__image--p3 {
      top: 40%;
      left: 0; } }
  @media (min-width: 62rem) {
    .composition__image--p3 {
      top: 56%; } }
  @media (min-width: 75rem) {
    .composition__image--p3 {
      left: 10%;
      top: 50%; } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 300ms;
  max-width: 300px;
  margin: 2rem auto; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.03); }
  @media (min-width: 75rem) {
    .feature-box {
      margin: 0; } }

.feature-box__icon {
  font-size: 2rem;
  background-image: linear-gradient(to right, #36a3a5, #113738);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }
  @media (min-width: 36rem) {
    .feature-box__icon {
      font-size: 4rem; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  width: 100%;
  background: none !important;
  margin: auto; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  @media (min-width: 36rem) {
    .card {
      width: 25rem; } }

.card__side {
  height: 40rem;
  transition: all 800ms ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden; }

.card__side--front {
  background-color: #fff; }

.card__side--back {
  transform: rotateY(180deg); }

.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #63D471, #233329); }

.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #36a3a5, #113738); }

.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #FFA69E, #861657); }

.card__picture {
  background-size: cover;
  background-blend-mode: screen;
  height: 18rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 60% 80%, 50% 90%, 40% 80%, 0 80%); }

.card__picture--1 {
  background-image: linear-gradient(to right bottom, rgba(99, 212, 113, 0.6), rgba(35, 51, 41, 0.6)), url(../images/parachute-4.jpg); }

.card__picture--2 {
  background-image: linear-gradient(to right bottom, rgba(54, 163, 165, 0.6), rgba(17, 55, 56, 0.6)), url(../images/dive-3.jpg); }

.card__picture--3 {
  background-image: linear-gradient(to right bottom, rgba(255, 166, 158, 0.6), rgba(134, 22, 87, 0.6)), url(../images/space-2.jpg); }

.card__heading {
  font-size: 2.5rem;
  font-weight: 300;
  color: transparent;
  background-clip: text;
  width: 75%;
  margin: auto; }

.card__heading--1 {
  background-image: linear-gradient(to right bottom, rgba(99, 212, 113, 0.85), rgba(35, 51, 41, 0.85));
  border-bottom: solid #233329 4px; }

.card__heading--2 {
  background-image: linear-gradient(to right bottom, rgba(54, 163, 165, 0.85), rgba(17, 55, 56, 0.85));
  border-bottom: solid #216869 4px; }

.card__heading--3 {
  background-image: linear-gradient(to right bottom, rgba(255, 166, 158, 0.85), rgba(134, 22, 87, 0.85));
  border-bottom: solid #861657 4px; }

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 3rem auto 1rem auto; }

.card__price-value {
  font-size: 4.5rem;
  font-weight: 100; }

.card__price-only {
  font-size: 1.2rem;
  font-weight: 300; }

.story {
  max-width: 30rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 236, 0.6);
  padding: 2rem;
  margin-bottom: 5rem; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(2px) brightness(80%);
    transform: translateX(-2.5rem) scale(1); }
  @media (min-width: 48rem) {
    .story {
      transform: skewX(-12deg);
      max-width: 40rem; } }
  @media (min-width: 62rem) {
    .story {
      max-width: 50rem;
      padding-left: -2rem; } }
  @media (min-width: 75rem) {
    .story {
      padding: 4rem;
      padding-left: 5rem;
      max-width: 62.5rem; } }

.story__shape {
  width: 7rem;
  height: 7rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-1rem);
  position: relative; }
  @media (min-width: 48rem) {
    .story__shape {
      transform: skewX(12deg) translateX(-1rem); } }
  @media (min-width: 62rem) {
    .story__shape {
      width: 10rem;
      height: 10rem; } }

.story__img {
  height: 100%;
  transform: translateX(-2.5rem) scale(1.4);
  backface-visibility: hidden;
  transition: all 500ms; }

@media (min-width: 48rem) {
  .story__text {
    transform: skewX(12deg); } }

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: all 500ms;
  backface-visibility: hidden; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
  overflow: hidden;
  height: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.form {
  height: 100%; }

.form__group {
  width: 100%; }
  @media (min-width: 36rem) {
    .form__group {
      width: 70%; } }
  @media (min-width: 62rem) {
    .form__group {
      width: 45%; } }

.form__label {
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 300ms;
  display: block; }

.form__input {
  font-size: 1.2rem;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #216869; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #233329; }
  .form__input::-webkit-input-placeholder, .form__input::placeholder {
    color: #999; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem); }

.form__radio-input {
  display: none; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-label {
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem; }

.form__radio-button {
  height: 1.5rem;
  width: 1.5rem;
  border: solid 2px #216869;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0rem;
  top: 0.1rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    background-color: #216869;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 200ms; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

.popup__content {
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  -webkit-transition: all 400ms 200ms;
  transition: all 400ms 200ms; }

.popup__left {
  max-height: 100%;
  width: 33.3333333%; }

.popup__right {
  width: 66.666666%; }

.popup__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.popup__text {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2rem;
  column-gap: 2rem;
  -webkit-column-rule: 1px solid #f7f7f9;
  column-rule: 1px solid #f7f7f9;
  text-align: justify;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2.5rem;
  text-decoration: none;
  -webkit-transition: all 200ms;
  transition: all 200ms; }

.popup__close:hover, .popup__close:active {
  color: #216869 !important; }

.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(54, 163, 165, 0.7), rgba(17, 55, 56, 0.7)), url(../images/nat-2.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 60% 65vh, 50% 70vh, 40% 65vh, 0 65vh); }
  @media (min-width: 48rem) {
    .header {
      height: 90vh;
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 60% 80vh, 50% 90vh, 40% 80vh, 0 80vh); } }

.header .container {
  color: #fff; }

.header__logo-box {
  position: absolute;
  top: 0;
  left: 0; }

.header__logo {
  height: 3rem;
  opacity: 0.8; }
  @media (min-width: 36rem) {
    .header__logo {
      height: 4rem; } }

.footer {
  background-color: #333;
  position: relative; }

.footer__logo {
  width: 2rem;
  text-align: center; }
  @media (min-width: 36rem) {
    .footer__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.footer__list {
  width: 100%;
  max-width: 500px;
  list-style: none;
  border-top: solid rgba(255, 255, 255, 0.2) 1px; }
  @media (min-width: 36rem) {
    .footer__list {
      width: calc(50% - 3rem); } }

.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  text-decoration: none; }

.footer__link:hover, .footer__link:active {
  color: #216869 !important; }

.footer__copyright {
  max-width: 500px;
  text-align: center; }
  @media (min-width: 36rem) {
    .footer__copyright {
      width: calc(50% - 3rem); } }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(200); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked + .navigation__button > .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button > .navigation__icon:before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button > .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__button {
  background-color: #ffffec;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.navigation__button:hover > .navigation__icon:before {
  top: -0.7rem; }

.navigation__button:hover > .navigation__icon:after {
  top: 0.7rem; }

.navigation__background {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  background-image: radial-gradient(#36a3a5, #113738);
  z-index: 100;
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 1rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 200ms; }
  .navigation__icon::before {
    top: -0.5rem; }
  .navigation__icon::after {
    top: 0.5rem; }

.navigation__list {
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__link {
  display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    font-weight: 300;
    font-size: 1.5rem;
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 500ms; }
    @media (min-width: 48rem) {
      .navigation__link:link, .navigation__link:visited {
        font-size: 2.5rem; } }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #216869 !important;
    text-decoration: none;
    transform: translateX(0.5rem); }

.navigation__link span {
  margin-right: 0.7rem;
  display: inline-block; }
