
//===============BASE COLORS================
$color-white: #fff;
$color-yellow-white: rgb(255, 255, 236);
$color-black: #000;

//===============PAGE PRIMARY PALETTE================
$color-primary:#216869;
$color-primary-light:#36a3a5;
$color-primary-dark:#113738;


//===============PAGE SECONDARY PALETTE================
$color-secondary-light:#63D471 ;
$color-secondary-dark:  #233329;

$color-tertiary-light:#FFA69E ;
$color-tertiary-dark:#861657;

//===============GREY PALETTE================
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f7f7f9;