.footer {
    background-color: $color-grey-dark-3;
    position: relative;
}

.footer__logo {
    width: 2rem;
    text-align: center;


    @include responsive(small) {
        & {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.footer__list {
    width: 100%;
    max-width: 500px;
    list-style: none;
    border-top: solid rgba($color-white, 0.2) 1px;

    @include responsive(small) {
        & {
            width: calc(50% - 3rem);
        }
    }
}

.footer__link {

    &:link,
    &:visited {
        color: $color-grey-light-1;
        text-decoration: none;
    }

    &:hover,
    &:active {
        color: $color-primary !important;
    }
}

.footer__copyright {
    max-width: 500px;
    text-align: center;

    @include responsive(small) {
        & {
            width: calc(50% - 3rem);
            ;
        }
    }
}