.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.7),
    rgba($color-primary-dark, 0.7)),
    url(../images/nat-2.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 65vh,60% 65vh,50% 70vh,40% 65vh, 0 65vh);



  @include responsive(medium) {
    &{
      height: 90vh;
      clip-path: polygon(0 0, 100% 0, 100% 80vh,60% 80vh,50% 90vh,40% 80vh, 0 80vh);
    }
  }

}

.header .container {
  color: $color-white;
}

.header__logo-box {
	position: absolute;
	top: 0;
	left: 0;
}

.header__logo {
	height: 3rem;
  opacity: 0.8;
  
  @include responsive(small) {
    &{
      height: 4rem;
    }
  }
}
