.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  width: 25rem;
  background: none !important;

  &__side { //.card__side
    height: 40rem;
    transition: all 800ms ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;

    &--front {//.card__side--front
      background-color: $color-white;
    }
    &--back {//card__side--back
      transform: rotateY(180deg);
        &--1{//card__side--back-1
            background-image:linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }
        &--2{//card__side--back-1
            background-image:linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }
        &--3{//card__side--back-1
            background-image:linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }

    }
  }

  &:hover &__side--front {//.card:hover .card__side--front
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {//.card:hover .card__side--back
    transform: rotateY(0deg);
  }



  &__picture{//.card__picture
    background-size: cover;
    background-blend-mode: screen;
    height: 18rem;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);    
clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);


    &--1{//.card__picture--1
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
    }
    &--2{//.card__picture--2
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
    }
    &--3{//.card__picture--3
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
    }
  }

  &__heading{ //.card__heading
      font-size: 2.5rem;
      font-weight: 300;
    color: $color-white;
    position: absolute;
    top: 15rem;
    right:2rem;
    width: 40%;

    &--1{//card__heading--1
        background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.85), rgba($color-secondary-dark,0.85))
    }
    &--2{//card__heading--1
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.85), rgba($color-primary-dark,0.85))
    }
    &--3{//card__heading--1
        background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.85), rgba($color-tertiary-dark,0.85))
    }
    }

    &__details{//card__details


        ul{//.card__details > ul
list-style: none;
width: 80%;
margin: 3rem auto 1rem auto;
        }
    }
}


.card__price-value{//
    font-size: 4.5rem;
font-weight: 100;
}
.card__price-only{
    font-size: 1.2rem;
    font-weight: 300;
}