//=============== IMAGE COMPOSITION================
.composition {
  width: 100%;
  position: relative;
  min-height: 10rem;
  margin-top: 3rem;

  @include responsive(small) {
    &{
      height: 100%;
      min-height: 0;
      margin-top: 0;
    }
  }
}

.composition__image {
  width: 40%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 500ms;

  &:hover {
    z-index: 5;
    transform: scale(1.1);
    filter: saturate(1);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);
  }

  @include responsive(small) {
    &{
      width: 55%;
    }
  }
}

.composition__image--p1 {
  top: 0;
  left: 0;

  @include responsive(small) {
    &{
      top: -5%;
      left: 0px;
    }
  }
}

.composition__image--p2 {
  right: 0;
  top: -5%;
  @include responsive(small) {
    &{
      right: 10%;
      bottom: 10%;
    }
  }
}

.composition__image--p3 {
  top: 10%;
  left: 30%;
  @include responsive(small) {
    &{
      bottom: -20%;
      right: 35%;
    }
  }
}