//=============== IMAGE COMPOSITION================
.composition {
  width: 100%;
  height: 100%;
  position: relative;
}

.composition__image {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 500ms;

  &:hover {
    z-index: 5;
    transform: scale(1.1);
    filter: saturate(1);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);
  }
}

.composition__image--p1 {
  top: -5%;
  left: 0px;
}

.composition__image--p2 {
  right: 10%;
  bottom: 10%;
}

.composition__image--p3 {
  bottom: -20%;
  right: 35%;
}