//=============== IMAGE COMPOSITION================
.composition {
  width: 100%;
  position: relative;
  min-height: 10rem;
  margin-top: 3rem;

  @include responsive(small) {
    & {
      min-height: 20rem;
    }
  }

  @include responsive(medium) {
    & {
      min-height: 23rem;
      margin-top: 0;
    }
  }
}

.composition__image {
  width: 40%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 500ms;

  &:hover {
    z-index: 5;
    transform: scale(1.1);
    filter: saturate(1);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);
  }

  @include responsive(medium) {
    & {
      width: 70%;
    }
  }
}

.composition__image--p1 {
  top: 0;
  left: 0;

  @include responsive(medium) {
    & {
      top: 0;
      left: 0;
    }
  }

  @include responsive(giant) {
    & {
      top: -5%;
      left: 0px;
    }
  }
}

.composition__image--p2 {
  right: 0;
  top: -5%;


  @include responsive(medium) {
    & {
      right: 0;
      top: 25%;
    }
  }

  @include responsive(medium) {
    & {
      right: 10%;
    }
  }

  @include responsive(giant) {
    & {
      right: 0;
      top: 15%;
    }
  }
}

.composition__image--p3 {
  top: 10%;
  left: 30%;


  @include responsive(medium) {
    & {
      top: 40%;
      left: 0;
    }
  }

  @include responsive(large) {
    & {
      top: 56%;
    }
  }

  @include responsive(giant) {
    & {
      left: 10%;
      top: 50%;
    }
  }
}