.story {
    max-width: 30rem;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-yellow-white, 0.6);
    padding: 2rem;
    margin-bottom: 5rem;

    &:hover &__caption {
        //.story:hover .story__caption
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        //.story:hover .story__img
        filter: blur(2px) brightness(80%);
        transform: translateX(-2.5rem) scale(1);

    }

    @include responsive(medium){
        &{
            transform: skewX(-12deg);
            max-width: 40rem;
        }

    }
    @include responsive(large){
        &{
            max-width: 50rem;
            padding-left: -2rem;
        }

    }
    @include responsive(giant){
        &{
            padding: 4rem;
            padding-left: 5rem;
            max-width: 62.5rem;
        }

    }
}

.story__shape {
    width: 7rem;
    height: 7rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1rem);
    position: relative;

    @include responsive(medium){
        &{
            transform: skewX(12deg) translateX(-1rem);
        }

    }

    @include responsive(large){
        &{
            width: 10rem;
            height: 10rem;
        }

    }

}

.story__img {
    height: 100%;
    transform: translateX(-2.5rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 500ms;
}

.story__text {
    @include responsive(medium){
        &{
            transform: skewX(12deg);
        }

    }
}


.story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-align: center;
    opacity: 0;
    transition: all 500ms;
    backface-visibility: hidden;


}