*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
a:hover {
  color: $color-grey-dark  !important;
}
body{
width: 100vw;

  @include responsive(small) {
    &{
      background: red;
    }
  }
  @include responsive(medium) {
    &{
      background: green;
    }
  }
  @include responsive(large) {
    &{
      background: yellow;
    }
  }
  @include responsive(giant) {
    &{
      background: blue;
    }
  }
}
