.section-about{
    background-color: $color-grey-light-1;
    margin-top: -12rem;
    padding: 20rem 0;
}
.section-about__content{
    width: 100%;
    max-width:1500px;
    margin-bottom: 10rem;
}
.section-features{
    padding: 20rem 0;
    margin-top: -12rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);
    background-size: cover;
    background-position: center;
    transform: skewY(-7deg);

}
.section-features__container{
    max-width:1500px;
    width: 80%;
    transform: skewY(7deg);
}
.section-tours{
    background-color: $color-grey-light-1;
    margin-top: -12rem;
    padding: 20rem 0;
}
.section-tours__cards-container{
    max-width:1500px;
    width: 80%;
    margin-bottom:10rem;
}

.section-stories{
    padding: 10rem 0;
    position: relative;
}

.section-book{
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
.book{
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%,
                                            rgba($color-white, 0.9) 50%,
                                            transparent 50%),url(../img/nat-10.jpg);
    background-size: cover;
    height: 30rem;
    max-width:1200px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);

    &__form{
        width: 50%;
        height: 100%;
        padding: 3rem;
    }
}